.root-div {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
    min-width: 400px;
}

.fadeIn {
    animation: fadeInAnimation 0.3s linear;
}

.fadeOut {
    animation: fadeOutAnimation 0.4s linear;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.text-area{
    resize: none;
    
}


.remove-btn-div {
    display: flex;
    justify-content: flex-end;
}

.remove-btn {
    width: 40px;
    height: 40px;
    background-color: rgb(248, 51, 51);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    color: white;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.remove-btn:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}